* {
    margin: 0;
    padding: 0;
}
header {
    background-image: url("images/banner/banner1.png");
    background-position: cover;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    text-align: right;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 100px;
    display: flex;
}
header h2 {
    font-size: 60px;
}
header p {
    font-size: 18px;
    margin: 25px 0;
}
header button {
    background-color: #f15b22;
    padding: 15px 28px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}
.header-img {
    width: 50%;
}
.header-text {
    width: 50%;
    margin: 150px 0;
}
.failure {
    display: flex;
    align-items: center;
    padding: 0 150px;
}
.failure img {
    width: 100%;
}
.failure-text {
    margin-left: 80px;
}
.failure-text h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
.failure-content {
    margin-bottom: 30px;
}
.failure-point {
    margin-bottom: 12px;
}
.fa-check {
    color: #16d887;
    margin-right: 10px;
}
.plans-container {
    margin-top: 60px;
    text-align: center;
}
.my-plans {
    display: flex;
    justify-content: center;
    gap: 80px;
}
.plans-title {
    margin-bottom: 40px;
}
.main-banner {
    margin-top: 0px;    
}
.positive-mindset {
    background-image: url("images/watch.png");
    /* background-image: linear-gradient(to right, #f15b22, #69564e); */
    background-repeat: no-repeat;
    padding: 80px;
    /* display: flex; 
    justify-content: center; */
    margin: 60px;
    margin-left: 90px;
    border-radius: 8px;
    /* background: rgba(2, 0, 36, 1);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(121, 58, 9, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    ); */
}
.positive-mindset h2 {
    font-size: 30px;
    color: whitesmoke;
    margin-bottom: 20px;
}
.positive-mindset button {
    padding: 15px 25px;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    color: #f15b22;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.positive-mindset button:hover {
    background-color: #f15b22;
    color: whitesmoke;
    transition: 0.8s;
}
/* .positive-mindset button:hover::after {
    transition: 0.8s;
} */
