*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url('images/banner/banner1.png');
    background-position: cover;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    text-align: right;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 100px;
    display: flex;
}
header h2 {
    font-size: 60px;
    
}
header p {
    font-size: 18px;
    margin: 25px 0;
}
header button {
    background-color: #F15B22;
    padding: 15px 28px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}
.header-img {
    width: 50%;
}
.header-text {
    width: 50%;
    margin: 150px 0;
}
.failure {
    display: flex;
    align-items: center;
    padding: 0 150px;
}
.failure img {
    width: 100%;
}
.failure-text {
    margin-left: 80px;
}
.failure-text h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
.failure-content {
    margin-bottom: 30px;
}
.failure-point {
    margin-bottom: 12px;
}
.fa-check {
    color: #16D887;
    margin-right: 10px;
}
.plans-container {
    margin-top: 30px;
    text-align: center;

}
.my-plans {
    display: flex;
    justify-content: center;
    gap: 80px;
}
.plans-title {
    margin-bottom: 40px;
}
.positive-mindset {
    background-image: url('images/watch.png');
}